@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
.hidden {
  display:none;
}
body  {
  background-color: antiquewhite;
}
.btn {
  color: #ab7338;
  background-color: #278024;
  border: 2px solid #278024;
  margin: 3px;
  font-size: 1.5em;
  font-weight: 900;
  -webkit-text-stroke: 1px black;
}
.btn:hover {
  background-color: rgb(92, 251, 0);
  transition: all 0.5s;
  transform: scale(1.15);
}
#displayName  {
  text-align: center;
  margin-top: 10%;
}
#start-game {
  position: relative;
  left: 40%;
  top: 200px;
  width:20%;
}
form  {
  text-align: center;
  margin-top: 10%;
}
#play-again {
  position: relative;
  left: 45%;
}
.button-container {
  width: 50%;
  margin:auto;
}

.img {
  height:207px;
  width:207px;
  margin-left:auto;
  margin-right:auto;
}

#chances {
  font-family: 'Gochi Hand', cursive;
  color: rgb(131, 35, 35);
}