.hidden {
  display:none;
}
body  {
  background-color: antiquewhite;
}
.btn {
  color: antiquewhite;
  background-color: black;
  border: 2px solid black;
  margin: 3px;
}
.btn:hover {
  background-color: grey;
  transition: all 0.5s;
  transform: scale(1.15);
}
#displayName  {
  text-align: center;
  margin-top: 10%;
}
#start-game {
  position: relative;
  left: 40%;
  top: 200px;
  width:20%;
}
form  {
  text-align: center;
  margin-top: 10%;
}
#play-again {
  position: relative;
  left: 45%;
}
.button-container {
  width: 50%;
  margin:auto;
}

.img {
  height:207px;
  width:207px;
  margin-left:auto;
  margin-right:auto;
}
